# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# TypeScript build outputs
dist/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log

# Key Files
private.pem
public.pem
private.jwk.json
public.jwk.json

# Next.js build outputs
.next/
out/

# SQLite database
*.sqlite
*.sqlite-journal

# VSCode settings
.vscode/

# Temporary files
/tmp/
*.swp

# Multer file uploads
uploads/